/*
 * Iskra shield overlay (nice_nano_v2, Pro Micro footprint)
 */

#include <physical_layouts.dtsi>

/ {
	chosen {
		zmk,kscan = &kscan0;
		zmk,matrix_transform = &iskra_transform;
		zmk,physical-layout = &iskra_layout;
	};

	iskra_transform: iskra_transform {
		compatible = "zmk,matrix-transform";
		columns = <4>;
		rows = <3>;
		map = <
			0 1 2 3
			4 5 6 7
			8 9 10 11
		>;
	};

	iskra_layout: iskra_layout {
		compatible = "zmk,physical-layout";
		display-name = "Default Layout";
		transform = <&iskra_transform>;
		kscan = <&kscan0>;
		keys = <&key_physical_attrs 100 100    0    0 0 0 0>
		     , <&key_physical_attrs 100 100  100    0 0 0 0>
		     , <&key_physical_attrs 100 100  200    0 0 0 0>
		     , <&key_physical_attrs 100 100  300    0 0 0 0>
		     , <&key_physical_attrs 100 100    0  100 0 0 0>
		     , <&key_physical_attrs 100 100  100  100 0 0 0>
		     , <&key_physical_attrs 100 100  200  100 0 0 0>
		     , <&key_physical_attrs 100 100  300  100 0 0 0>
		     , <&key_physical_attrs 100 100    0  200 0 0 0>
		     , <&key_physical_attrs 100 100  100  200 0 0 0>
		     , <&key_physical_attrs 100 100  200  200 0 0 0>
		     , <&key_physical_attrs 100 100  300  200 0 0 0>;
	};
};

&pro_micro {
	kscan0: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		label = "KSCAN";
		diode-direction = "col2row";
		debounce-press-ms = <5>;
		debounce-release-ms = <5>;

		row-gpios = <&gpio1 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
			       <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
			       <&gpio0 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

		col-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>,
			       <&gpio1 13 GPIO_ACTIVE_LOW>,
			       <&gpio1 4 GPIO_ACTIVE_LOW>,
			       <&gpio0 10 GPIO_ACTIVE_LOW>;
	};
};
