/*
 * Iskra shield overlay (nice_nano_v2, Pro Micro footprint)
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
	chosen {
		zmk,kscan = &kscan0;
		zmk,physical-layout = &iskra_layout;
	};

	iskra_transform: iskra_transform {
		compatible = "zmk,matrix-transform";
		columns = <4>;
		rows = <3>;
		/* Only 10 keys populated: 3x4 matrix with two empty positions (row 0 col 3, row 1 col 3) */
		map = <
			RC(0,0) RC(0,1) RC(0,2)
			RC(1,0) RC(1,1) RC(1,2)
			RC(2,0) RC(2,1) RC(2,2) RC(2,3)
		>;
	};

	iskra_layout: iskra_layout {
		compatible = "zmk,physical-layout";
		display-name = "Default Layout";
		transform = <&iskra_transform>;
		kscan = <&kscan0>;
		/* 10 keys arranged as:
		 * 1 2 3 _
		 * 4 5 6 _
		 * 7 8 9 0
		 */
		keys = <&key_physical_attrs 100 100    0    0 0 0 0>
		     , <&key_physical_attrs 100 100  100    0 0 0 1>
		     , <&key_physical_attrs 100 100  200    0 0 0 2>
		     , <&key_physical_attrs 100 100    0  100 0 1 0>
		     , <&key_physical_attrs 100 100  100  100 0 1 1>
		     , <&key_physical_attrs 100 100  200  100 0 1 2>
		     , <&key_physical_attrs 100 100    0  200 0 2 0>
		     , <&key_physical_attrs 100 100  100  200 0 2 1>
		     , <&key_physical_attrs 100 100  200  200 0 2 2>
		     , <&key_physical_attrs 100 100  300  200 0 2 3>;
	};
};

&pro_micro {
	kscan0: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		label = "KSCAN";
		diode-direction = "col2row";
		debounce-press-ms = <5>;
		debounce-release-ms = <5>;

		row-gpios = <&gpio1 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
			       <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
			       <&gpio0 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

		col-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>,
		       	<&gpio1 13 GPIO_ACTIVE_LOW>,
		       	<&gpio1 4 GPIO_ACTIVE_LOW>,
		       	<&gpio0 10 GPIO_ACTIVE_LOW>;
	};
};
